.hide {
  display: none !important;
}

#timer {
  width: 100% !important;
  max-width: 600px;
  box-sizing: border-box !important;
  margin: 0 auto;
}

.action-btn {
  width: 100%;
  max-width: 600px;
  font-size: 2rem;
}

#question-time {
  font-size: 6em;
}
